@charset "utf-8";

body {
  background-color: rgba(0, 0, 0, 0.850);
  
}

a {
  color: inherit;
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  padding-top: 11.5px; 
}

.logo-img {
  width: auto;
  height: 120px;
}

/* メニューバー */
.area_header {
  display: flex;
  background-color: red;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 120px;
}



.gnavi {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 823px) { 
  .gnavi, .tel {
    display: none;
  }

  .area_header {
    height: 80px;
    background-color: white;
  }

  .logo {
    padding-top: 12px;
  }

  .logo-img {
    height: 80px;
    width: auto;
  }
  

} 

.gnavi_li_home{
  padding: 10px;
}
.gnavi_li_menu {
  padding: 10px;
}
.gnavi_li_takeout {
  padding: 10px;
}
.gnavi_li_news {
  padding: 10px;
}
.gnavi_li_commitment {
  padding: 10px;
}
.gnavi_li_insideofshop {
  padding: 10px;
}
.gnavi_li_shopinfo {
  padding: 10px;
}


.tel {
  text-align: right;
  padding: 10px;
}

.tel-number {
  font-size: 30px;
}

/* メニューバー収納 */

.menu-btn {
  position: fixed;
  top: 8px;
  right: 8px;
  display: flex;
  height: 80px;
  width: 80px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: red;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu-btn span:before {
  bottom: 8px;
}
.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #3584bb;
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  padding: 18px 30px 20px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 22px;
  top: 25px;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: black;
  opacity: 0.7;
  transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}




@media screen and (min-width: 824px) { 
  .hamburger-menu {
    display: none;
  }
  
}


/* トップ写真 */
.top_img {
  position: relative;
  width: 100%;
  height: auto;
}

.img-home-top {
  position: absolute;
  width: 100%;
  opacity: 0;
  animation: change-img-anim 15s infinite;
}

.img-home-top:nth-of-type(1) {
  animation: change-img-anim-first 15s infinite;
  animation-delay: 0s;
}
.img-home-top:nth-of-type(2) {
  animation-delay: 5s;
}
.img-home-top:nth-of-type(3) {
  animation-delay: 10s;
}
@keyframes change-img-anim-first {
  0%{ opacity: １;}
  30%{ opacity: 1;}
  36%{ opacity: 1;}
  45%{ opacity: 0;}
  100%{ opacity: 0;}
}
@keyframes change-img-anim {
  0%{ opacity: 0;}
  30%{ opacity: 1;}
  36%{ opacity: 1;}
  45%{ opacity: 0;}
  100%{ opacity: 0;}
}

/* お知らせ */
.news {
  color: white;
  padding-top: 30px;
  margin-top: 55vw;
}

.news-list{
  list-style: none outside;
  margin: 0;
  padding: 0;
}

.news-list .item a{
  display: flex;
  flex-wrap: wrap;
  flex-wrap: nowrap;
  text-decoration: none;
  color: white;
  border-bottom: 1px solid #CCC;
  padding: 20px 20px;
}

.news-list .item:first-child a{
  border-top: 1px solid #CCC;
}

.news-list .item .date{
  margin: 0;
  min-width: 120px;
  font-size: 16px;
  color: #999;
  padding: 0 20px 0 0;
}

.news-list .item .title{
  margin: 0;
  width: 100%;
}

.news-list .item a:hover .title{
  color: #00F;
}
  
@media screen and (max-width: 767px){
.news-list .item a{
  flex-wrap: wrap;
}


.news-list .item .date{
  min-width: 100px;
}
.news-list .item .title{
  margin-top: 10px;
}
  
/* 装飾 */
*{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}


  
}

.btn-news {
  text-align: center;
  padding: 20px;
}


/* メニュー */
.menu {
  color: white;
}
.menu-tile {
  text-align: center;
  padding: 2vw;
  
}

.menu-tile-image {
  width: 20vw;
  height: auto;
}

.menu-tile-under {
  width: 20vw;
  flex-wrap: wrap;
  padding-top: 1vw;
}

.menu-tile-name {
  font-size: 18px;
  margin-top: 0;
}
.menu-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 96vw;
  margin-left: auto;
  margin-right: auto;
  
}

@media screen and (max-width: 823px) {
  .menu-tile {
    text-align: center;
    padding: 2vw;
    
}

.menu-tile-image {
    width: 28vw;
    height: auto;
}

.menu-tile-under {
    width: 28vw;
    flex-wrap: wrap;
    padding-top: 1vw;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 96vw;
  margin-left: auto;
  margin-right: auto;
  
}
}

/* 営業時間・アクセス */
.shop-information {
  color: white;
}
.shopinfo {
  display: flex;
}

.shop-img {
  padding-right: 10px;
  padding-top: 20px;
}

.img-shopinfo-1 {
  width: 40vw;
  height: auto;
}

iframe {
  width: 100%;
}


 



